*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}

button{
    z-index: 1000;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    border: none;
    padding: 10px
}